<style>
    .zoom1:after {
			content:'';
			display:block; 
			width:33px; 
			height:33px; 
			position:absolute; 
			top:0;
			right:0;
			background:url(icon.png);
		}

		.zoom1 img {
			display: block;
		}

		.zoom1 img::selection { background-color: transparent; }

		#zoom img:hover { cursor: url(/zoom-master/grab.cur), default; }
		#zoom img:active { cursor: url(/zoom-master/grabbed.cur), default; }
</style>
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Product Details</h2>
                        <p>Home <span>-</span> Shop Single</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================End Home Banner Area =================-->

<!--================Single Product Area =================-->
<div class="product_image_area section_padding">
    <div class="container">
        <div class="row  justify-content-center">
            <div class="col-lg-6 col-xl-6 ">
                <div class="product_slider_img">
                    <div id="vertical">
                        <span data-thumb="/product-images/{{result._id}}_image1.jpeg" id="zoom" class="zoom1">
                            <img src="/product-images/{{result._id}}_image1.jpeg" />
                        </span>
                        <div data-thumb="/product-images/{{result._id}}_image2.jpeg" id="zoom2" class="zoom1">
                            <img src="/product-images/{{result._id}}_image2.jpeg" />
                        </div>
                        <div data-thumb="/product-images/{{result._id}}_image3.jpeg" id="zoom3" class="zoom1">
                            <img src="/product-images/{{result._id}}_image3.jpeg" />
                        </div>
                        {{!-- <div data-thumb="/product-images/{{result._id}}_image1.jpeg" class="geeks">
                            <img src="/product-images/{{result._id}}_image1.jpeg" />
                        </div> --}}
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="s_product_text">
                    <h3>{{result.productname}}</h3>
                    {{#if result.discount}}
                    <h4>{{result.offPercentage}}% Offer <i class="fas fa-tag"></i> Rs. <strike> {{result.actualPrice}}</strike></h4>
                    <h2>Rs. {{result.price}}</h2>
                    {{else}}
                    <h2>Rs. {{result.price}}</h2>
                    {{/if}}
                    <ul class="list">
                        <li>
                            <a class="active" href="#">
                                <span>Category</span>: {{result.category}}</a>
                        </li>
                        <li>
                            <a href="#"> <span>Availibility</span>: In Stock ({{result.stocks}} Left)</a>
                        </li>
                    </ul>
                    <p>
                        {{result.description}}
                    </p>
                    <div class="card_area d-flex justify-content-between align-items-center">
                        <div class="product_count">
                            <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                            <input class="input-number" id="quantity" type="text" value="1" min="1" max="10">
                            <span class="number-increment"> <i class="ti-plus"></i></span>
                        </div>
                        <button onclick="addToCart('{{result._id}}')" class="btn_3">add to cart</button>
                        <a onclick="addToWishlist('{{result._id}}')" class="like_us"> <i class="ti-heart"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">Description</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p>
                    {{result.description}}
                </p>
            </div>
        </div>
    </div>
</section>
<!--================End Product Description Area =================-->
<script>
    $(function () {
    $(window).scroll(function () {
      var scroll = $(window).scrollTop();
      if (scroll > 500) {
        $(".navbar").css("background", "white");
      }
      else {
        $(".navbar").css("background", "transparent");
      }
    })
  })
</script>